<div *ngIf="viewMode; else editable">
  <div class="container login-page">
    <div *ngIf="currentTask.id">
      <h4>Task</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentTask.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentTask.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTask.published ? "Published" : "Pending" }}
      </div>
  
      <a class="btn editButton" routerLink="/tasks/{{ currentTask.id }}">
        Edit Task
      </a>
    </div>
  
  </div>
  <div *ngIf="!currentTask">
    <br />
    <p>Please click on a Task...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTask.id" class="edit-form">
    <h4>Task</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTask.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTask.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTask.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="btn mr-2 unPublishButton"
      *ngIf="currentTask.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentTask.published"
      class="btn mr-2 publishButton"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="btn mr-2 deleteButton" (click)="deleteTask()">Delete</button>

    <button type="submit" class="btn mr-2 updateButton" (click)="updateTask()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTask.id">
    <br />
    <p>Cannot access this Task...</p>
  </div>
</ng-template>
